@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  /* Light gray background */
  color: #111827;
  /* Dark text */
}

/* Optional: Smooth transition for links */
a {
  transition: all 0.2s ease-in-out;
}